* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  border-radius: 20px;
}

.display {
  padding: 16px;
  text-align: right;
  background-color: aqua;
  color: black;
  font-size: 24px;
}

.display span {
  font-size: 20px;
  color: darkmagenta;
}

button {
  border-color: blue;
  color: white;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
}

.operators {
  display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: blue;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
}

.numbers button {
  flex: 1 1 33.33%;
  max-width: 33.33%;
  background-color: blueviolet;
}
